<div style="position: absolute;z-index: 99;padding-left: 20px;">
  <h1>Score<br><span data-shadow-text="">{{yourscore}}/{{fullscore}}</span></h1>
</div>
<div class="end">
  <div class="container">
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="trigger"></div>
    <div class="monitor">
      <div class="camera o-x">
        <div class="camera o-y">
          <div class="camera o-z">
            <div class="awing">
              <div class="stars">
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
              </div>
              <div class="fly o-x">
                <div class="fly o-y">
                  <div class="fly o-z">
                    <div class="free_bounce">
                      <div class="free_rotate">
                        <div class="savoia_wrapper">
                          <div class="savoia">
                            <div class="body">
                              <div class="body_cockpit_main">
                                <div class="body_cockpit_main_window">
                                  <div class="body_cockpit_main_window_left"></div>
                                  <div class="body_cockpit_main_window_right"></div>
                                </div>
                                <div class="body_cockpit_main_hole"></div>
                              </div>
                              <div class="body_cockpit_sub">
                                <div class="body_cockpit_sub_window"></div>
                                <div class="body_cockpit_sub_hole"></div>
                              </div>
                              <div class="body_top"></div>
                              <div class="body_front"></div>
                              <div class="body_front_top"></div>
                              <div class="body_front_bottom"></div>
                              <div class="body_left"></div>
                              <div class="body_left_back"></div>
                              <div class="body_right"></div>
                              <div class="body_right_back"></div>
                              <div class="body_bottom"></div>
                              <div class="body_bottom_back"></div>
                            </div>
                            <div class="wing">
                              <div class="wing_float left">
                                <div class="wing_float_arm">
                                  <div class="wing_float_arm_front"></div>
                                  <div class="wing_float_arm_back"></div>
                                </div>
                                <div class="wing_float_box">
                                  <div class="wing_float_box_top"></div>
                                  <div class="wing_float_box_left"></div>
                                  <div class="wing_float_box_right"></div>
                                  <div class="wing_float_box_bottom"></div>
                                  <div class="wing_float_box_front"></div>
                                  <div class="wing_float_box_back"></div>
                                </div>
                              </div>
                              <div class="wing_float right">
                                <div class="wing_float_arm">
                                  <div class="wing_float_arm_front"></div>
                                  <div class="wing_float_arm_back"></div>
                                </div>
                                <div class="wing_float_box">
                                  <div class="wing_float_box_top"></div>
                                  <div class="wing_float_box_left"></div>
                                  <div class="wing_float_box_right"></div>
                                  <div class="wing_float_box_bottom"></div>
                                  <div class="wing_float_box_front"></div>
                                  <div class="wing_float_box_back"></div>
                                </div>
                              </div>
                              <div class="wing_mount">
                                <div class="wing_mount_right">
                                  <div class="wing_mount_front"></div>
                                  <div class="wing_mount_arm"></div>
                                  <div class="wing_mount_back"></div>
                                </div>
                                <div class="wing_mount_left">
                                  <div class="wing_mount_front"></div>
                                  <div class="wing_mount_arm"></div>
                                  <div class="wing_mount_back"></div>
                                </div>
                              </div>
                              <div class="wing_left"></div>
                              <div class="wing_right"></div>
                            </div>
                            <div class="tail">
                              <div class="tail_main">
                                <div class="tail_main_panel"></div>
                              </div>
                              <div class="tail_arm">
                                <div class="tail_arm_front"></div>
                                <div class="tail_arm_back"></div>
                                <div class="tail_arm_round">
                                  <div class="tail_arm_round_panel"></div>
                                </div>
                              </div>
                              <div class="tail_wing">
                                <div class="tail_wing_left"></div>
                                <div class="tail_wing_right"></div>
                              </div>
                            </div>
                            <div class="propeller">
                              <div class="propeller_rotate">
                                <div class="propeller_back"></div>
                                <div class="propeller_blade o-left"></div>
                                <div class="propeller_blade o-right"></div>
                                <div class="propeller_center">
                                  <div class="propeller_center_wall o-part_1"></div>
                                  <div class="propeller_center_wall o-part_2"></div>
                                  <div class="propeller_center_wall o-part_3"></div>
                                  <div class="propeller_center_wall o-part_4"></div>
                                  <div class="propeller_center_wall o-part_5"></div>
                                  <div class="propeller_center_wall o-part_6"></div>
                                  <div class="propeller_center_wall o-part_7"></div>
                                  <div class="propeller_center_wall o-part_8"></div>
                                  <div class="propeller_center_wall o-part_9"></div>
                                  <div class="propeller_center_wall o-part_10"></div>
                                  <div class="propeller_center_wall o-part_11"></div>
                                  <div class="propeller_center_wall o-part_12"></div>
                                </div>
                                <div class="propeller_front">
                                  <div class="propeller_front_wall o-part_1"></div>
                                  <div class="propeller_front_wall o-part_2"></div>
                                  <div class="propeller_front_wall o-part_3"></div>
                                  <div class="propeller_front_wall o-part_4"></div>
                                  <div class="propeller_front_wall o-part_5"></div>
                                  <div class="propeller_front_wall o-part_6"></div>
                                  <div class="propeller_front_wall o-part_7"></div>
                                  <div class="propeller_front_wall o-part_8"></div>
                                  <div class="propeller_front_wall o-part_9"></div>
                                  <div class="propeller_front_wall o-part_10"></div>
                                  <div class="propeller_front_wall o-part_11"></div>
                                  <div class="propeller_front_wall o-part_12"></div>
                                </div>
                              </div>
                            </div>
                            <div class="engine">
                              <div class="engine_mount">
                                <div class="engine_mount_right">
                                  <div class="engine_mount_front"></div>
                                  <div class="engine_mount_arm"></div>
                                  <div class="engine_mount_back"></div>
                                </div>
                                <div class="engine_mount_left">
                                  <div class="engine_mount_front"></div>
                                  <div class="engine_mount_arm"></div>
                                  <div class="engine_mount_back"></div>
                                </div>
                              </div>
                              <div class="engine_cover">
                                <div class="engine_cover_radiator">
                                  <div class="engine_cover_radiator_back"></div>
                                  <div class="engine_cover_radiator_front"></div>
                                  <div class="engine_cover_radiator_left"></div>
                                  <div class="engine_cover_radiator_right"></div>
                                  <div class="engine_cover_radiator_bottom">
                                    <div class="engine_cover_radiator_bottom_left"></div>
                                    <div class="engine_cover_radiator_bottom_right"></div>
                                  </div>
                                </div>
                                <div class="engine_cover_front">
                                  <div class="engine_cover_front_top"></div>
                                  <div class="engine_cover_front_bottom"></div>
                                </div>
                                <div class="engine_cover_top"></div>
                                <div class="engine_cover_head o-left">
                                  <div class="engine_cover_head_1 o-hood">
                                    <div class="engine_cover_head_panel engine_cover_head_1_panel o-hood"></div>
                                    <div class="engine_cover_head_2 o-hood">
                                      <div class="engine_cover_head_panel engine_cover_head_2_panel o-hood"></div>
                                      <div class="engine_cover_head_3 o-hood">
                                        <div class="engine_cover_head_panel engine_cover_head_3_panel o-hood"></div>
                                        <div class="engine_cover_head_4 o-hood">
                                          <div class="engine_cover_head_panel engine_cover_head_4_panel o-hood"></div>
                                          <div class="engine_cover_head_5 o-hood">
                                            <div class="engine_cover_head_panel engine_cover_head_5_panel o-hood"></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="engine_cover_head_1">
                                    <div class="engine_cover_head_panel engine_cover_head_1_panel"></div>
                                    <div class="engine_cover_head_2">
                                      <div class="engine_cover_head_panel engine_cover_head_2_panel"></div>
                                      <div class="engine_cover_head_3">
                                        <div class="engine_cover_head_panel engine_cover_head_3_panel"></div>
                                        <div class="engine_cover_head_4">
                                          <div class="engine_cover_head_panel engine_cover_head_4_panel"></div>
                                          <div class="engine_cover_head_5">
                                            <div class="engine_cover_head_panel engine_cover_head_5_panel"></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="engine_cover_head o-right">
                                  <div class="engine_cover_head_1">
                                    <div class="engine_cover_head_panel engine_cover_head_1_panel"></div>
                                    <div class="engine_cover_head_2">
                                      <div class="engine_cover_head_panel engine_cover_head_2_panel"></div>
                                      <div class="engine_cover_head_3">
                                        <div class="engine_cover_head_panel engine_cover_head_3_panel"></div>
                                        <div class="engine_cover_head_4">
                                          <div class="engine_cover_head_panel engine_cover_head_4_panel"></div>
                                          <div class="engine_cover_head_5">
                                            <div class="engine_cover_head_panel engine_cover_head_5_panel"></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="engine_cover_bottom">
                                  <div class="engine_cover_bottom_left"></div>
                                  <div class="engine_cover_bottom_right"></div>
                                </div>
                                <div class="engine_cover_back">
                                  <div class="engine_cover_back_top"></div>
                                  <div class="engine_cover_back_bottom"></div>
                                </div>
                                <div class="engine_cover_left">
                                  <div class="engine_cover_left_front"></div>
                                  <div class="engine_cover_left_back"></div>
                                  <div class="engine_cover_left_hood"></div>
                                </div>
                                <div class="engine_cover_right"></div>
                              </div>
                              <div class="engine_system">
                                <div class="engine_exhaust o-left">
                                  <div class="engine_exhaust_center">
                                    <div class="engine_exhaust_center_front"></div>
                                    <div class="engine_exhaust_center_wall o-part_1"></div>
                                    <div class="engine_exhaust_center_wall o-part_2"></div>
                                    <div class="engine_exhaust_center_wall o-part_3"></div>
                                    <div class="engine_exhaust_center_wall o-part_4"></div>
                                    <div class="engine_exhaust_center_wall o-part_5"></div>
                                    <div class="engine_exhaust_center_wall o-part_6"></div>
                                    <div class="engine_exhaust_center_wall o-part_7"></div>
                                    <div class="engine_exhaust_center_wall o-part_8"></div>
                                  </div>
                                  <div class="engine_exhaust_cylinder o-part_1">
                                    <div class="engine_exhaust_cylinder_wall o-part_1"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_2"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_3"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_4"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_5"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_6"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_7"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_8"></div>
                                  </div>
                                  <div class="engine_exhaust_cylinder o-part_2">
                                    <div class="engine_exhaust_cylinder_wall o-part_1"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_2"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_3"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_4"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_5"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_6"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_7"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_8"></div>
                                  </div>
                                  <div class="engine_exhaust_cylinder o-part_3">
                                    <div class="engine_exhaust_cylinder_wall o-part_1"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_2"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_3"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_4"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_5"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_6"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_7"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_8"></div>
                                  </div>
                                  <div class="engine_exhaust_cylinder o-part_4">
                                    <div class="engine_exhaust_cylinder_wall o-part_1"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_2"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_3"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_4"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_5"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_6"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_7"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_8"></div>
                                  </div>
                                  <div class="engine_exhaust_cylinder o-part_5">
                                    <div class="engine_exhaust_cylinder_wall o-part_1"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_2"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_3"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_4"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_5"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_6"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_7"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_8"></div>
                                  </div>
                                  <div class="engine_exhaust_cylinder o-part_6">
                                    <div class="engine_exhaust_cylinder_wall o-part_1"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_2"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_3"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_4"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_5"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_6"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_7"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_8"></div>
                                  </div>
                                </div>
                                <div class="engine_exhaust o-right">
                                  <div class="engine_exhaust_center">
                                    <div class="engine_exhaust_center_front"></div>
                                    <div class="engine_exhaust_center_wall o-part_1"></div>
                                    <div class="engine_exhaust_center_wall o-part_2"></div>
                                    <div class="engine_exhaust_center_wall o-part_3"></div>
                                    <div class="engine_exhaust_center_wall o-part_4"></div>
                                    <div class="engine_exhaust_center_wall o-part_5"></div>
                                    <div class="engine_exhaust_center_wall o-part_6"></div>
                                    <div class="engine_exhaust_center_wall o-part_7"></div>
                                    <div class="engine_exhaust_center_wall o-part_8"></div>
                                  </div>
                                  <div class="engine_exhaust_cylinder o-part_1">
                                    <div class="engine_exhaust_cylinder_wall o-part_1"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_2"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_3"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_4"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_5"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_6"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_7"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_8"></div>
                                  </div>
                                  <div class="engine_exhaust_cylinder o-part_2">
                                    <div class="engine_exhaust_cylinder_wall o-part_1"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_2"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_3"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_4"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_5"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_6"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_7"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_8"></div>
                                  </div>
                                  <div class="engine_exhaust_cylinder o-part_3">
                                    <div class="engine_exhaust_cylinder_wall o-part_1"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_2"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_3"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_4"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_5"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_6"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_7"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_8"></div>
                                  </div>
                                  <div class="engine_exhaust_cylinder o-part_4">
                                    <div class="engine_exhaust_cylinder_wall o-part_1"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_2"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_3"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_4"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_5"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_6"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_7"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_8"></div>
                                  </div>
                                  <div class="engine_exhaust_cylinder o-part_5">
                                    <div class="engine_exhaust_cylinder_wall o-part_1"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_2"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_3"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_4"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_5"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_6"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_7"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_8"></div>
                                  </div>
                                  <div class="engine_exhaust_cylinder o-part_6">
                                    <div class="engine_exhaust_cylinder_wall o-part_1"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_2"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_3"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_4"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_5"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_6"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_7"></div>
                                    <div class="engine_exhaust_cylinder_wall o-part_8"></div>
                                  </div>
                                </div>
                                <div class="engine_alternator">
                                  <div class="engine_alternator_wall o-part_1"></div>
                                  <div class="engine_alternator_wall o-part_2"></div>
                                  <div class="engine_alternator_wall o-part_3"></div>
                                  <div class="engine_alternator_wall o-part_4"></div>
                                  <div class="engine_alternator_back"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
