<div class="login">
  <form name="form" class="form" (submit)="f.form.valid && onSubmit()" #f="ngForm">
    <h2>HomeWork !!!</h2>
    <input
      id="username"
      type="text"
      placeholder="Username"
      name="username"
      required
      minlength="5"
      maxlength="10"
      [(ngModel)]="form.username"
      [ngClass]="{ 'is-invalid' : f.submitted && username.invalid }"
      #username="ngModel"
    />
    <app-validate-error
      class="invalid-feedback"
      [control]="username"
      [messages]="{ required : 'Username is required.',
                    minlength : 'Username must be at least 3 characters.',
                    maxlength : 'Username must be at most 10 characters.',
      }"
      [submitted]="f.submitted"
    >
    </app-validate-error>
    <input
      id="password"
      type="password"
      placeholder="Password"
      name="password"
      required
      [(ngModel)]="form.password"
      [ngClass]="{ 'is-invalid' : f.submitted && password.invalid }"
      #password="ngModel"
    />
    <app-validate-error
        class="invalid-feedback"
        [control]="password"
        [messages]="{ required : 'Password is required.' }"
        [submitted]="f.submitted"
    >
    </app-validate-error>
    <input type="submit" value="Log In" class="submit" >
  </form>
</div>
