<div class="login">
  <form name="form" class="form" (submit)="f.form.valid && onSubmit()" #f="ngForm">
    <h2>HomeWork !!!</h2>
    <input
      id="username"
      type="text"
      placeholder="Username"
      name="username"
      required
      minlength="5"
      maxlength="10"
      [(ngModel)]="form.username"
      [ngClass]="{ 'is-invalid' : f.submitted && username.invalid }"
      #username="ngModel"
    />
    <input
      id="password"
      type="password"
      placeholder="Password"
      name="password"
      required
      [(ngModel)]="form.password"
      [ngClass]="{ 'is-invalid' : f.submitted && password.invalid }"
      #password="ngModel"
    />
    <input type="submit" value="Log In" class="submit">
  </form>
</div>
